{{#input-group errors=errors}}
  <span class="input-group-btn">
    <button class="btn" type="button"><span class="fui-calendar"></span></button>
  </span>
  {{input type="text" value=value class="form-control" placeholder="Date"}}
{{/input-group}}
