<div {{bind-attr class="errors:has-error"}}>
  <div class="input-group">
    {{yield}}
  </div>
  {{#each error in errors}}
    <label class="control-label">{{error.message}}</label>
  {{/each}}
</div>
