{{#input-group errors=errors}}
  {{input type="text" value=value class="form-control" autocomplete="off" placeholder="Time"}}
  <span class="input-group-btn">
    <button class="btn" type="button"><span class="fui-time"></span></button>
  </span>
{{/input-group}}
