body{
  margin-top:30px;
}
.navbar-header{
  background:url("/img/logo-small.png") no-repeat 20px 12px;
  padding-left:37px;
}

/* Flat-UI Pro does not include the login module */
.login {
  position: relative;
  padding: 38px 38px 267px;
  margin-bottom: 77px;
  color: #fff;
  background: url(../img/login/imac.png) 0 0 no-repeat;
  background-size: 940px 778px;
  width:940px;
  margin-left:auto;
  margin-right:auto;
  }
.login-screen {
  min-height: 473px;
  padding: 123px 199px 33px 306px;
  background-color: #1abc9c;
  }
.login-icon {
  position: absolute;
  top: 160px;
  left: 200px;
  width: 96px;
  }
.login-icon > img {
  display: block;
  width: 100%;
  margin-bottom: 6px;
  }
.login-icon > h4 {
  font-size: 17px;
  font-weight: 300;
  line-height: 34px;
  opacity: .95;
  }
.login-icon > h4 small {
  display: block;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  }
.login-form {
  position: relative;
  padding: 24px 23px 20px;
  background-color: #edeff1;
  border-radius: 6px;
  }
.login-form .control-group {
  position: relative;
  margin-bottom: 6px;
  }
.login-form .login-field {
  font-size: 17px;
  text-indent: 3px;
  border-color: transparent;
  }
.login-form .login-field:focus {
  border-color: #1abc9c;
  }
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
  }
.login-form .login-field-icon {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 16px;
  color: #bfc9ca;
  -webkit-transition: all .25s;
          transition: all .25s;
  }
.login-link {
  display: block;
  margin-top: 15px;
  font-size: 13px;
  color: #bfc9ca;
  text-align: center;
  }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 2){
  .login{
    background-image: url(../img/login/imac-2x.png);
  }
}

/* date-picker button when field is in error */
.has-error .input-group-btn .btn{
  color:#e74c3c;
  background-color:#fff;
  border-color:#e74c3c;
}

/* expenses list */
.expense-headers,
.expense{
  font-size:14px;
  padding:6px 0 7px 0;
}
.expense-headers,
.expense .full-comments .header{
  font-weight:bold;
  color:#526476;
}
.expense{
  border-top:2px solid #eef0f0;
}
.expense .actions{
  text-align:right;
}
.expense .tool-tip{
  margin-right:6px;
}
.expense .btn{
  margin-right:10px;
}
.tooltip-inner {
  max-width:350px;
  text-align:left;
}
.expense .full-comments,
.week{
  display:none;
}
.expense .full-comments .header{
  margin-right:10px;
}

/* print stylesheet */
@media print{
  .new-expense,
  .actions,
  .search{
    display:none;
  }
  .col-sm-2,
  .col-sm-3,
  .col-sm-5{
    float:left;
  }
  .col-sm-2{
    width:16.66666667%;
  }
  .col-sm-3{
    width:25%;
  }
  .col-sm-5{
    width:41.66666667%;
  }
  .expense .full-comments,
  .week{
    display:block;
  }
}
