<div {{bind-attr class="session.isAuthenticated:container"}}>
  {{#if session.isAuthenticated}}
    <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-6">
          <span class="sr-only">Toggle navigation</span>
        </button>
        {{#link-to "sign-in" class="navbar-brand"}}Expenses tracker{{/link-to}}
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-6">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">{{#link-to "expenses"}}Expenses{{/link-to}}</li>
          <li><a href="#" {{action "destroySession"}}>Sign out</a></li>
        </ul>
      </div>
    </nav>
  {{/if}}
  {{outlet}}
</div>
